doctype html
html.lockscreen
  head
    meta(charset='UTF-8')
    title CMS | Console
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // bootstrap 3.0.2
    link(href='../../css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // font Awesome
    link(href='../../css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Theme style
    link(href='../../css/AdminLTE.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    #login-box.form-box
      form(action='/console/index.html', method='get')
        .header
          img(src='/img/logo-dtac-mid.jpg')
          h4.box-title Commission Management System
        .body.bg-gray
          .form-group
            .input-group
              span.input-group-addon Role
              select.form-control
                option Incentive Team
                option Setup
                option Strategy Team
                option Trade Campaign Team
          .form-group
            input.form-control(type='text', name='userid', placeholder='User Name')
          .form-group
            input.form-control(type='password', name='password', placeholder='Password')
            #login-result.text-red.pull-right Invalid Username or Password 
        .footer.bg-gray
          button.btn.bg-blue.btn-block(type='submit') Sign in

    // jQuery 2.0.2
    script(src='/js/libs/jquery.min.js')
    // Bootstrap
    script(src='../../js/bootstrap.min.js', type='text/javascript')
